<template>
    <div class="col-sm-5">
      <div class="card" style="width: 28rem;">
        <div class="card-header text-center">
          <h3>{{ characterInfo.name }}</h3>
        </div>

        <div class="card-body">
          <div class="text-center" v-if="characterInfo.isMonster">
            <img src="../assets/monster.png" class="img-fluid character_image" alt="Responsive image">
          </div>
          <div class="text-center" v-else>
            <img src="../assets/player.png" class="img-fluid character_image" alt="Responsive image">
          </div>
          <br>
          <div class="progress">
            <div class="progress-bar"
                 role="progressbar"
                 style="width: 25%"
                 aria-valuenow="25"
                 aria-valuemin="0"
                 aria-valuemax="100"
                 :style="progressWith"
                 :class="progressStatus">
              {{ characterInfo.health }} / {{ maxLive }}
            </div>
          </div>
        </div>
      </div>
    </div>
</template>

<script>
    export default {
      props:{
        characterInfo: {
          type: Object,
          default() {
            return {
              name : '',
              health : 100,
              isMonster : false
            }
          }
        },
        maxLive : {
          type: Number
        },
      },
      computed: {
        progressStatus() {
          if(this.characterInfo.health >= 90) {
            return 'bg-success';
          } else if(this.characterInfo.health >= 60) {
            return 'bg-info';
          } else if(this.characterInfo.health >= 40) {
            return 'bg-warning';
          } else{
            return 'bg-danger';
          }

        },
        progressWith() {
          return {
            'width' : ((this.characterInfo.health / this.maxLive) * 100) + '%',
          };
        }
      }
    }
</script>

<style scoped>
  .character_image {
    width: 78px;
    height: 78px;
  }
</style>
