<template>
  <div class="col-sm">
    <div class="card text-center">
      <div class="card-body">
        <div class="row">
          <div class="col-sm">
            <button type="button" class="btn btn-primary btn-block" @click="attacks">Attack</button>
          </div>

          <div class="col-sm">
            <button type="button" class="btn btn-danger btn-block" @click="specialAttack">Special attack</button>
          </div>

          <div class="col-sm">
            <button type="button" class="btn btn-success btn-block" @click="heal">Health</button>
          </div>

          <div class="col-sm">
            <button type="button" class="btn btn-dark btn-block" @click="giveUp">Give up</button>
          </div>
        </div>

      </div>
    </div>
  </div>
</template>

<script>
    export default {

      methods: {
        attacks() {
          this.$emit('attack');
        },
        specialAttack() {
          this.$emit('specialAttack');
        },
        heal() {
          this.$emit('heal');
        },
        giveUp() {
          this.$emit('giveUp');
        }
      }
    }
</script>

<style scoped>

</style>
