<template>
  <div class="col-sm">
    <div class="card text-center">
      <div class="card-body">
        <button type="button" class="btn btn-success" @click="startGames">Start Games</button>
      </div>
    </div>
  </div>
</template>

<script>
    export default {
      methods: {
        startGames() {
          this.$emit('startGames', true);
        }
      }
    }
</script>

<style scoped>

</style>
