<template>
  <div class="col-sm-6">
    <ul class="list-group">
      <transition-group name="slide">
        <li class="list-group-item" v-for="(turnInfo, index) in turnLogs"
          :class="{'list-group-item-primary': turnInfo.isPlayer, 'list-group-item-danger': !turnInfo.isPlayer}"
          :key="turnInfo.id">

          <div class="d-flex bd-highlight" :class="{'flex-row-reverse' :  !turnInfo.isPlayer}">
          <span v-show="!turnInfo.isPlayer">
            <img src="../assets/monster.png" class="img-fluid character_image" alt="Responsive image">
          </span>

            <span v-show="turnInfo.isPlayer">
            <img src="../assets/player.png" class="img-fluid character_image" alt="Responsive image">
          </span>
            {{ turnInfo.info }}

          </div>
      </li>
      </transition-group>
    </ul>
  </div>
</template>

<script>
  export default {
    props: ['turnLogs'],
  }
</script>

<style scoped>
  .character_image {
    width: 20px;
    height: 20px;
  }

  .slide-enter {
    opacity: 0;
  }

  .slide-enter-active {
    animation: slide-in 1s ease-out forwards;
    transition: opacity .5s;
  }

  .slide-leave {

  }

  .slide-leave-active {
    animation: slide-out 1s ease-out forwards;
    transition: opacity 1s;
    opacity: 0;
    position: absolute;
  }

  .slide-move {
    transition: transform 1s;
  }

  @keyframes slide-in {
    from {
      transform: translateY(20px);
    }
    to {
      transform: translateY(0);
    }
  }

  @keyframes slide-out {
    from {
      transform: translateY(0);
    }
    to {
      transform: translateY(20px);
    }
  }
</style>
