<template>
  <div id="app" class="container">
    <br><br>
    <div class="row justify-content-around">
      <app-character-game :characterInfo="playerCharacter"
                          :maxLive="maxLivePlayer"></app-character-game>
      <app-character-game :characterInfo="monsterCharacter"
                          :maxLive="maxLiveMonster"></app-character-game>
    </div>
    <br>
    <div class="row">
      <component :is="gameMode"
                 @startGames="startGames"
                 @attack="attack"
                 @specialAttack="specialAttack"
                 @heal="heal"
                 @giveUp="giveUp"></component>
    </div>

    <br>
    <div class="row justify-content-center" v-if="gameStarted">
      <app-turn-info :turnLogs="turnLogs"></app-turn-info>
    </div>
  </div>
</template>

<script>
  import CharacterGame from './components/CharacterGame';
  import MainMenu from './components/MainMenu';
  import GameActions from './components/GameAction';
  import TurnInfo from './components/TurnInfo';

  const maxLive = 100;
  const maxLiveM = 120;

  export default {
    data() {
      return {
        maxLivePlayer : maxLive,
        maxLiveMonster : maxLiveM,
        playerCharacter: {name: 'You', health: maxLive, isMonster : false},
        monsterCharacter: {name: 'Monster', health: maxLiveM, isMonster : true},
        gameStarted : false,
        turnLogs: [],
      }
    },
    computed: {
      gameMode() {
        return (this.gameStarted) ? 'app-game-actions' : 'app-main-menu';
      }
    },
    methods: {
      startGames() {
        this.gameStarted = true;
        this.playerCharacter.health = maxLive;
        this.monsterCharacter.health = maxLiveM;
        this.turnLogs = [];
      },
      attack() {
        let damage = this.getDamagePoint(10, 3);
        this.monsterCharacter.health -= damage;

        this.logPlayerMessage('Simple attack : ' + damage + ' damages.');

        if (!this.gameEnded()) {
          this.monsterAttacks();
        }
      },
      specialAttack: function () {
        let damage = this.getDamagePoint(20, 10);
        this.monsterCharacter.health -= damage;

        this.logPlayerMessage('Special attack : ' + damage + ' damages.');

        if (!this.gameEnded()) {
          this.monsterAttacks();
        }
      },
      heal() {
        if (this.playerCharacter.health > 90) {
          this.playerCharacter.health = 100;
        } else {
          this.playerCharacter.health += 10;
        }

        this.logPlayerMessage('10 live point restore');

        if (!this.gameEnded()) {
          this.monsterAttacks();
        }
      },
      giveUp() {
        this.resetGame();
      },
      getDamagePoint(max, min) {
        return Math.max(Math.floor((Math.random() * max) + 1), min);
      },
      monsterAttacks: function () {
        let damage = this.getDamagePoint(15, 5);
        this.playerCharacter.health -= damage;

        this.logMonsterMessage('Monster attack you : ' + damage + ' damage received.');
        this.gameEnded();
      },
      gameEnded() {
        if (this.playerCharacter.health <= 0) {
          if (confirm("You lose! Start again ?")) {
            this.restartGame();
          } else {
            this.resetGame();
          }
          return true;
        } else if (this.monsterCharacter.health <= 0) {
          if (confirm("You win! Start again ?")) {
            this.restartGame();
          } else {
            this.resetGame();
          }
          return true;
        }

        return false;
      },
      resetGame() {
        this.gameStarted = false;
        this.playerCharacter.health = maxLive;
        this.monsterCharacter.health = maxLiveM;
        this.turnLogs = [];
      },
      restartGame() {
        this.startGames();
      },
      logPlayerMessage(message) {
        this.turnLogs.unshift({
          id : this.turnLogs.length + 1,
          isPlayer: true,
          info: message
        });
      },
      logMonsterMessage(message) {
        this.turnLogs.unshift({
          id : this.turnLogs.length + 1,
          isPlayer: false,
          info: message
        });
      }
    },
    components: {
      appCharacterGame : CharacterGame,
      appMainMenu : MainMenu,
      appGameActions: GameActions,
      appTurnInfo: TurnInfo,
    }
  }
</script>

<style>

</style>
